<div
  class="modal fade"
  id="create-replies"
  tabindex="-1"
  aria-labelledby="create-repliesLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark rounded-0">
      <div class="modal-header border-0">
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="form form-horizontal"
          method="POST"
          enctype="multipart/form-data"
        >
        {{replies_form.hidden_tag()}}

          <div class="form-body">
            <div class="row">
              <div class="col-md-4 pt-2">
                <label class="">{{replies_form.name.label}}</label>
              </div>
              <div class="col-md-8 form-group">
                {{replies_form.name(class="form-control", placeholder="Anonymous")}}
              </div>
              <div class="col-md-4 pt-2">
                <label class="">{{replies_form.text.label}}</label>
              </div>
              <div class="col-md-8 form-group">
                {{replies_form.text(class="form-control", placeholder="Comment")}}
              </div>
              <div class="col-md-4 pt-2">
                <label class="">Image</label>
              </div>
              <div class="col-md-8 form-group">
                <input type="file" name="image_file" class="form-control">

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
        <button
          type="button"
          class="btn bg-secondary rounded-0 text-white"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        {{ replies_form.submit(class="btn bg-primary rounded-0 text-white")}}
      </form>
      </div>
    </div>
  </div>
</div>